[Unit]
Description=API
After=syslog.target network.target

[Service]
Environment="MESSAGE=hello i am api v1"
Environment="NAME=api"
Environment="LISTEN_ADDR=0.0.0.0:8080"
ExecStart=/usr/local/bin/fake-service
ExecStop=/bin/sleep 5
Restart=always

[Install]
WantedBy=multi-user.target